@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto&subset=cyrillic');

@include font-face('icomoon', 'fonts/icomoon', $ver: '?xoi0by');


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-bouquet:before {
  content: "\e900";
}
.icon-checked:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}
.icon-logo:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-rose:before {
  content: "\e905";
}
.icon-sunflower:before {
  content: "\e906";
}
.icon-telephone:before {
  content: "\e907";
}
.icon-truck:before {
  content: "\e908";
}


