// fonts
$font: 'Montserrat', sans-serif;
// colors 
$light-green: #788B71;
$light-pink: #FBE9F4;
$pink: #F0B4D9;
$green: #495B43;
$light-grey: #F6F6F6;
$grey: #C4C4C4;
$lime: #86D473;
$red: #F24B4B;